body {
    margin: 0em;
}
.cover {
    height: 400px;
    background-image:url(../img/academia.jpg);
    color: white;
    background-size: cover;
    background-position:center;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
}